:root {
    --primery-background-color: #E5E5E5;
    --contacts-text-color: #757575;
    --header-color-text: #212121;
    --focus-color-text: #2196F3
}

body {
    font-family: 'Roboto';
    background-color: #E5E5E5;
}

/* Шапка сайта */

.page-header a,
.footer-nav a,
.footer-logo {
    text-decoration: none;
}

.logo {
    color: #000000;
    font-family: 'Raleway';
}

.logo-color {
    color: var(--focus-color-text);
}

.site-nav {
    text-decoration: none;
}

.Studio-btn:hover,
.portfolio-btn:hover,
.contacts-btn:hover,
.mail-btn:hover,
.tel-btn:hover {
    color: var(--focus-color-text);
}

.Studio-btn:focus,
.portfolio-btn:focus,
.contacts-btn:focus,
.mail-btn:focus,
.tel-btn:focus {
    color: var(--focus-color-text);
}

.site-nav a {
    font-style: normal;
    font-weight: 500;
    color: var(--header-color-text);
    text-decoration: none;
}

.contacts-nav a {
    font-style: normal;
    font-weight: 500;
    color: var(--header-color-text);
    text-decoration: none;
}

/* Main */

/* Секция-Герой */

.hero-title {
    font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
}

.hero-btn {
    background-color: var(--focus-color-text);
    color: #FFFFFF;
}

/* Секция преимуществ */

.Advantages-title {
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
text-transform: uppercase;
color: var(--header-color-text);
}

.Advantages-text {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: var(--contacts-text-color);
}

/* Чем мы занимаемся */


/* Наша команда */

.workers {
    font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.03em;
color: var(--header-color-text);
}

.Position {
    font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.03em;
color: var(--contacts-text-color);
}

/* Footer */
