:root {
    --primery-background-color: #E5E5E5;
    --contacts-text-color: #757575;
    --header-color-text: #212121
}

body {
    font-family: 'Roboto';
}

/* Шапка сайта */

.page-header a,
.footer-nav a,
.footer-logo {
    text-decoration: none;
}

.logo {
    color: #000000;
    font-family: 'Raleway';
}

.logo-color {
    color: #2196F3;
}

.site-nav {
    text-decoration: none;
}

.site-nav a {
    font-style: normal;
    font-weight: 500;
    color: #212121;
    text-decoration: none;
}

.contacts-nav a {
    font-style: normal;
    font-weight: 500;
    color: #757575;
    text-decoration: none;
}

/* Уникальный контент */

